<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='base.css') }}">
        <title>BLog</title>
    </head>
    <body>
        <div class="container-fluid">
            <h1>Uplode Photo</h1>
            <form action="/"  method="POST" enctype="multipart/form-data">
                <div class="main">
                    <table>
                        <tr>
                            <td><label for="main_img">Main img:</label></td>
                            <td><input type="file" name="main_img" id="main_img" class="form-control"></td>
                        </tr>
                    </table>
                </div>
                <div class="submit-row">
                    <input type="submit" value="Upload" class="btn btn-success">
                </div>
            </form>
            {% if out != '' %}
                <div>
                    <img src="{{ url_for('send_file', filename=filename) }}" class="rounded mx-auto d-block" alt="...">
                    <div class="alert alert-success" role="alert">
                        The type in {{out}}
                    </div>
                </div>
            {% endif %}
        </div>
    </body>
</html>